/* Colors used:
    Background-color (Snow): fffafa;
    Text Color (Black): #000;
    Visited link (DarkBlue): #008b;
    Active link (LightBlue): #add8e6
     */

:root {
    --background-color: #f5e7e7;
    --text: #000;
    --visited-link: #008b;
    --selected-link: #add8e6;
    --primary-color: #fffafa;
    --secondary-color: #578588;
}
body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    color: var(--text);
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
   color: var(--text); 
}

a:visited {
    /* visited link */
    color: var(--visited-link);
}
a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:active {
    /* selected link */
    color: var(--selected-link);
}
button, .button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--text);
    color: var(--primary-color);
    text-decoration: none;
    /*adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(198, 234, 244);
    transition: 0.2s opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
.button_secondary {
    background-color: var(--secondary-color);
    color: var(--text);
}
.navigation-list__item--active {
    text-decoration: none;
}
.about {
    text-align: center;
}
.about-list {
    margin: 2%;
    list-style-type: none;
}
.contact {
    text-align: left;
} 
.profile__portrait {
    float: left;
    width: 200px;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer {
    clear: both;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    flex: 0 1 200px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
}
.grid__item {
    background-color: #fbd9d9;
    padding: auto;
}
.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px){
   .grid {
     grid-gap: 10px;
   }
   .grid__item:last-child {
     grid-column: auto / auto;
     grid-row: auto / auto;
   }
   h1 {
    font-size: 22px;
   }
}
@keyframes color-change {
    0% {
        fill: brown;
    }
    50% {
        fill:rgb(244, 228, 46)
    }
    100% {
        fill:lightgoldenrodyellow
    }
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}